{% extends 'base_generic.html' %}

{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>

    <ul>
        {% for book in author.book_set.all %}
            <li>
                <a href="{{ book.get_absolute_url }}"><h4>{{ book.title }}</h4></a>
                <p>
                    {% for genre in book.genre.all %}
                        {{ genre }} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}